/*****hadoc*****/
/* #hadoc(f286c1a79615597b) #css starts */
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5)
}
.navbar-light .navbar-nav .active>.nav-link{
    color: rgba(0,0,0,.5)
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #14BDEE
}
.navbar-light .navbar-nav .active>.nav-link:hover{
    color: #14BDEE
}
.headerh222fa673a781ab9e .btn {
    color: rgba(0,0,0,.5)
}
.headerh222fa673a781ab9e .fa-shopping-cart {
    color: rgba(0,0,0,.5)
}
.headerh222fa673a781ab9e .fa-user-plus{
    color: rgba(0,0,0,.5)
}
.headerh222fa673a781ab9e .btn:hover {
    color: #14BDEE
}
/* #hadoc(f286c1a79615597b) #css ends */
/*****hadoc*****/

/*****ubon*****/
    /* #ubon(u9ad23ff1cf9ac8a3) #css starts  */
    .u9ad23ff1cf9ac8a3 h4{
        font-size: 32px
    }
    .u9ad23ff1cf9ac8a3 h5{
        font-size: 18px
    }
    .uploadu9ad23ff1cf9ac8a3 .OR {
        color: #fff
    }
    .uploadu9ad23ff1cf9ac8a3 .uploadB {
        border-radius: 35px;
        border: #14BDEE;
        color: #000;
        background: #14BDEE;
        font-weight: 600
    }
    /* #ubon(u9ad23ff1cf9ac8a3) #css ends  */
/*****ubon*****/

/*****freya*****/
/* #freya(freyategxpfzk1ni) #css starts */
.freyategxpfzk1ni .fdb-block {
    padding: 5.5rem 0
  }
      .freyategxpfzk1ni   .fdb-block .fdb-touch {
      border-top: none
     }
     .freyategxpfzk1ni .fdb-block .fdb-box {
        padding: 1.75rem 2.5rem
    }

     .freyategxpfzk1ni .fdb-block img + h2 {
      margin-top: 1.5rem
     }
     .freyategxpfzk1ni h2{
        font-size: 20px
    }
/* #freya(freyategxpfzk1ni) #css starts */
/*****freya*****/

/*****faye*****/
/* #faye(fayete8bna5e4lc) #css starts */
.fayete8bna5e4lc .fdb-block {
    padding: 4.5rem 0
}
.fayete8bna5e4lc h2{
    font-size: 20px
}

.fayete8bna5e4lc    .fdb-block .fdb-box {
    padding: 1.75rem 2.5rem
     }
     .fayete8bna5e4lc    .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #14BDEE;
      z-index: 2
     }
     .fayete8bna5e4lc  a{
        color: rgba(0,0,0,.5);
    font-weight: 600
     }
/* #faye(fayete8bna5e4lc) #css starts */
/*****faye*****/

/*****festivale*****/
/* #festivale(formftgpsfus2yh) #css starts */  
.formftgpsfus2yh .fdb-block {
    padding: 3.5rem 0
 }
 .formftgpsfus2yh h1{
    font-size: 32px
}

    .formftgpsfus2yh .fdb-block .fdb-touch {
      border-top: solid 0.3125rem #fff
     }
     .formftgpsfus2yh .btn-primary {
        color: #000;
        background-color: #14BDEE;
        border-color: #14BDEE;
        font-weight: 600
    }
    .formftgpsfus2yh .btn-primary:hover,
    .formftgpsfus2yh .btn-primary:not(:disabled):not(.disabled):active
{
        color: #000;
        background-color: #14BDEE;
        border-color: #14BDEE;
        font-weight: 600
    } 
/* #festivale(formftgpsfus2yh) #css starts */
/*****festivale*****/