/*****TypographyCSS*****/
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  scroll-behavior: smooth;}

@-ms-viewport {
  width: device-width; }


body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #353935; }
/* no margin for header and footer section */
section.footer, section.header  {
    margin: 0; 
}
/* 20px top and bottom margin for all sections */
section {
    margin: 20px 0; 
    display: block;
    width: 100%;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
 }

textarea {
  overflow: auto;
  resize: vertical; }

h1, .h1 {
  font-size: 2.75rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.125rem; }

h4, .h4 {
  font-size: 1rem; }

h5, .h5 {
  font-size: 0.875rem; }

h6, .h6 {
  font-size: 0.813rem; }

.lead {
  font-size: 1.4rem;
  font-weight: 400; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
/*****TypographyCSS*****/

/*****hanna*****/
/* #hanna(headertmhh88f5ufy) #css starts  */
.headertmhh88f5ufy .nav-link{
    margin-left: 15px
}
/* #hanna(headertmhh88f5ufy) #css ends  */
/*****hanna*****/

/*****agni*****/
/* #agni(cded716dce36a6e8) #css starts  */
.aboutcded716dce36a6e8 .DescriptionHeading {
    font-size: 50px
}

.aboutcded716dce36a6e8 .DescriptionPara {
    color: #808080;
    font-size: 18px
}

.aboutcded716dce36a6e8 .badge{
    color: #FF705E;
    background-color: #F5F0F7
}
.aboutcded716dce36a6e8 .searchBtn{
    background-color:#FF705E ;
    border-radius: 15px;
    color: white
}
/* #agni(cded716dce36a6e8) #css ends  */
/*****agni*****/

/*****fukra*****/
/* #fukra(fukraft73lhx26hp) #css starts */
.fukraft73lhx26hp .fdb-block {
    padding: 7.5rem 0
 }

 .fukraft73lhx26hp .fdb-block img.fdb-icon {
      width: auto;
      width: 3.75rem
    }
/* #fukra(fukraft73lhx26hp) #css starts */
/*****fukra*****/

/*****atami*****/
 /* #atami(d390a380620aac0e) #css starts  */
 .aboutd390a380620aac0e .video_card {
    position: relative;
    border-radius: 5px;
    overflow: hidden
}

.aboutd390a380620aac0e .video_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7
}

.aboutd390a380620aac0e .video_card>img {
    width: 100%
}

.aboutd390a380620aac0e .video_card>.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    background: #2077FF;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.4);
    border: none;
    color: white;
    outline: none
}

.aboutd390a380620aac0e .video_card>.btn:hover {
    box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.5)
}

.aboutd390a380620aac0e .video_card>.btn:active {
    color: #2077FF;
    background: rgba(255, 255, 255, 0.5)
}
.aboutd390a380620aac0e .para{
    font-size: 20px;
}
/* #atami(d390a380620aac0e) #css ends  */
/*****atami*****/

/*****feresa*****/
/* #feresa(feresafe19zziasyx) #css starts */
.feresafe19zziasyx .fdb-block {
    padding: 7.5rem 0
}

.feresafe19zziasyx .fdb-block img.fdb-icon {
      width: auto;
      width: 3.75rem
     }
/* #feresa(feresafe19zziasyx) #css starts */
/*****feresa*****/

/*****apo*****/
/* #apo(ab8dfbbd4bed) #css starts  */
.aboutab8dfbbd4bed .Explore{
    background-color: black;
       padding: 15px;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px
}
.aboutab8dfbbd4bed .description{
    font-size: 40px;
    color: #000000;
        font-weight: 700
}
.aboutab8dfbbd4bed .para{
        font-size: 18px
}
/* #apo(ab8dfbbd4bed) #css ends  */
/*****apo*****/

/*****taylor*****/
    /* #taylor(taylorTestimonial) #css starts  */
    .taylorTestimonial .fdb-block {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;
        background-color: #FFFFFF
       }
      
        .taylorTestimonial  .fdb-block .container {
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain
      }
      
          .taylorTestimonial .fdb-block .fdb-box {
          background: #FFFFFF;
          padding: 3.75rem 2.5rem;
          overflow: hidden;
          color: #444444;
          border-radius: 0.25rem;
          box-shadow: 0 0.3125rem 0.875rem 0 rgba(129, 129, 129, 0.2)
           }
           .taylorTestimonial  .BGContainer{
              background-image: url(https://images.moksy.com/templates/default/shapes/shape-purple.svg)
           }
    /* #taylor(taylorTestimonial) #css ends  */
/*****taylor*****/

/*****cash*****/
    /* #cash(cashCounters) #css starts  */
    .cashCounters h2{
        color: #424242;
        margin-top: 12px;
        font-size: 30px;
    }
    .cashCounters .BG{
        background-color:#fff
    }
    .cashCounters .fa,
    .cashCounters .fas{
        margin-top: 10px;
        font-size: 50px
    }
    .cashCounters h4 {
        font-size: 30px;
        margin-bottom: 0.2rem !important;
    }

    @media (min-width: 576px) {
        .cashCounters .col-md-3{ 
            margin-bottom: 30px;
            text-align: center
         }         
    }
    @media (max-width: 576px) {
        .cashCounters .col-md-3{ 
            margin-bottom: 30px;
            text-align: center            
         } 
    }
    /* #cash(cashCounters) #css ends  */
/*****cash*****/

/*****babette*****/
 /* #babette(e54caba42c027d0f) #css starts  */
 .bannere54caba42c027d0f .video_card {
    position: relative;
    border-radius: 5px;
    background-image: url(http://rb.gy/g40g);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden
}

.bannere54caba42c027d0f .video_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1
}

.bannere54caba42c027d0f .video_card>img {
    width: 1000px;
    height: 500px;
    border-radius: 20px
}

.bannere54caba42c027d0f .video_card>.btn {
    position: absolute;
    top: 50%;
    left: 43%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    background: #fff;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.4);
    border: none;
    outline: none
}

.bannere54caba42c027d0f .video_card>.btn:hover {
    box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.5)
}

.bannere54caba42c027d0f .video_card>.btn:active {
    background: rgba(255, 255, 255, 0.5)
}
.bannere54caba42c027d0f .stroke { 
        color: white; 
        -webkit-text-stroke-width: 1px; 
        -webkit-text-stroke-color: #0EA187
    } 
    .bannere54caba42c027d0f .desText{
        font-size: 60px;
        font-weight: bold
    }
/* #babette(e54caba42c027d0f) #css ends  */
/*****babette*****/

/*****foska*****/
    /* #foska(foskaFooter) #css starts */
    .foskaFooter a{
        color: #353935;
    }
    .foskaFooter a{
        color: #353935;
    }
    .foskaFooter .btn,
    .foskaFooter .btn:hover,
    .foskaFooter .btn:active,
    .foskaFooter .btn:focus{
        color: #fff;
        background-color: #353935;
        border-color: #353935;
        box-shadow: none;
    }
    /* #foska(foskaFooter) #css ends */
/*****foska*****/

