/*****TypographyCSS*****/
*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  scroll-behavior: smooth;}

@-ms-viewport {
  width: device-width; }


body {
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #353935; }
/* no margin for header and footer section */
section.footer, section.header  {
    margin: 0; 
}
/* 20px top and bottom margin for all sections */
section {
    margin: 20px 0; 
    display: block;
    width: 100%;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
 }

textarea {
  overflow: auto;
  resize: vertical; }

h1, .h1 {
  font-size: 2.75rem; }

h2, .h2 {
  font-size: 2rem; }

h3, .h3 {
  font-size: 1.125rem; }

h4, .h4 {
  font-size: 1rem; }

h5, .h5 {
  font-size: 0.875rem; }

h6, .h6 {
  font-size: 0.813rem; }

.lead {
  font-size: 1.4rem;
  font-weight: 400; }

.display-1 {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1.2; }

.display-2 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-3 {
  font-size: 4.5rem;
  font-weight: 300;
  line-height: 1.2; }

.display-4 {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 1.2; }

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
/*****TypographyCSS*****/

/*****hectorian*****/
/* #hectorian(headercbxff5hblw3) #css starts  */
.headercbxff5hblw3 .nav-link{
    margin-left: 8px
}
.headercbxff5hblw3 .logo{
    max-height: 30px
}
.headercbxff5hblw3 .navbar-open-icon {
    display: inline
}
.headercbxff5hblw3 .navbar-close-icon {
    display: none
}
.headercbxff5hblw3 .navbar-toggler[aria-expanded="true"] .navbar-open-icon {
    display: none
}
.headercbxff5hblw3 .navbar-toggler[aria-expanded="true"] .navbar-close-icon {
    display: inline
}
/* #hectorian(headercbxff5hblw3) #css ends  */
/*****hectorian*****/

/*****agadu*****/
/* #agadu(bf5e9e9e7ee746db) #css starts  */
.aboutbf5e9e9e7ee746db .DescriptionHeading {
    font-size: 34px;
    color: #0A033C
}

.aboutbf5e9e9e7ee746db .DescriptionPara {
    color: #0A033C;
    font-size: 18px
}

.aboutbf5e9e9e7ee746db .descriptionImage img{
    margin-top: -30px
}
.aboutbf5e9e9e7ee746db .searchBtn{
    background-color:#A560F4 ;
    border-radius: 7px;
    color: white;
    font-weight: bold
}
/* #agadu(bf5e9e9e7ee746db) #css ends  */
/*****agadu*****/

/*****feresa*****/
/* #feresa(feresafe19zziasyx) #css starts */
.feresafe19zziasyx .fdb-block {
    padding: 7.5rem 0
}

.feresafe19zziasyx .fdb-block img.fdb-icon {
      width: auto;
      width: 3.75rem
     }
/* #feresa(feresafe19zziasyx) #css starts */
/*****feresa*****/

/*****adolf*****/
/* #adolf(p3dce575962b3c369) #css starts  */
.aboutp3dce575962b3c369 .jumbotron{
    border-radius: 13px
}
.aboutp3dce575962b3c369 .DescriptionHeading {
        font-size: 40px;
        color: #0A033C
    }

    .aboutp3dce575962b3c369 .DescriptionPara {
        color: #0A033C;
        font-size: 18px
    }
    
    .aboutp3dce575962b3c369 .badge{
        color: #A560F4;
        background-color: #F5F0F7
    }
    .aboutp3dce575962b3c369 .searchBtn{
        background-color:#FF705E ;
        border-radius: 10px;
        color: white;
        font-weight: bold
    }
/* #adolf(p3dce575962b3c369) #css ends  */
/*****adolf*****/

/*****felix*****/
/* #felix(felixfr3poxt3ngm) #css starts */
.felixfr3poxt3ngm .fdb-block img.fdb-icon {
    width: auto;
    width: 3.75rem
   }
/* #felix(felixfr3poxt3ngm) #css starts */
/*****felix*****/

/*****agdu*****/
    /* #agdu(d390a380620aac0e) #css starts  */
    .aboutd390a380620aac0e .video_card {
        position: relative;
        border-radius: 5px;
        overflow: hidden
    }

    .aboutd390a380620aac0e .video_card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f48637;
        opacity: 0.7
    }

    .aboutd390a380620aac0e .video_card>img {
        width: 100%
    }

    .aboutd390a380620aac0e .video_card>.btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        background: #fff;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.4);
        border: none;
        outline: none
    }

    .aboutd390a380620aac0e .video_card>.btn:hover {
        box-shadow: 0px 0px 0px 14px rgba(255, 255, 255, 0.5)
    }

    .aboutd390a380620aac0e .video_card>.btn:active {
        background: rgba(255, 255, 255, 0.5)
    }
    /* #agdu(d390a380620aac0e) #css ends  */
/*****agdu*****/

/*****teddy*****/
    /* #teddy(teddyTestimonial) #css starts  */
    .teddyTestimonial .man{
        max-width: 80px;
        margin-top: 15px;
        height: 80px;
    }
    @media (min-width: 1200px) {
        .teddyTestimonial .mt-xl-5, 
        .teddyTestimonial .my-xl-5 {
            margin-top: 0.8rem !important;
        }
    }
    @media (min-width: 1200px) {
        .teddyTestimonial .pb-xl-5, 
        .teddyTestimonial .py-xl-5 {
            padding-bottom: 2rem !important;
        }
    }
    /* #teddy(teddyTestimonial) #css ends  */
/*****teddy*****/

/*****cash*****/
    /* #cash(cashCounters) #css starts  */
    .cashCounters h2{
        color: #424242;
        margin-top: 12px;
        font-size: 30px;
    }
    .cashCounters .BG{
        background-color:#fff
    }
    .cashCounters .fa,
    .cashCounters .fas{
        margin-top: 10px;
        font-size: 50px
    }
    .cashCounters h4 {
        font-size: 30px;
        margin-bottom: 0.2rem !important;
    }

    @media (min-width: 576px) {
        .cashCounters .col-md-3{ 
            margin-bottom: 30px;
            text-align: center
         }         
    }
    @media (max-width: 576px) {
        .cashCounters .col-md-3{ 
            margin-bottom: 30px;
            text-align: center            
         } 
    }
    /* #cash(cashCounters) #css ends  */
/*****cash*****/

/*****basu*****/
/* #basu(d12294b36d7b134b) #css starts  */
.bannerd12294b36d7b134b {
    overflow: hidden
}
.bannerd12294b36d7b134b .button {
background-color: #4A4CC7;
color: rgb(255, 255, 255);
margin-top: 20px
}

.bannerd12294b36d7b134b .button:hover {
color: #FFC72C
}
.bannerd12294b36d7b134b .background{
padding: 50px
}
.bannerd12294b36d7b134b .banner-container{
background-color: #E8EDF3
}
.bannerd12294b36d7b134b .backgroundIMG{
background-image: url(https://i.ibb.co/VtwvzPC/1.png);
height: 100%;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
padding: 122px
}
/* #basu(d12294b36d7b134b) #css ends  */
/*****basu*****/

/*****flores*****/
    /* #flores(floresFooter) #css starts */
    .floresFooter .fdb-block {
        padding: 3rem 0
     }
     .floresFooter a {
        color: #fff;
     }
     .floresFooter .nav-link{
        padding: 0.5rem 0rem;
     }
    /* #flores(floresFooter) #css ends */
/*****flores*****/

